.container__card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
    outline: none;
    text-decoration: none;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  background-color: var(--tea-green);
}
.container__card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.container__card__img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  transition: all 0.3s ease;
}

.container__card__img__img:hover {
  transform: scale(1.5);
  
}
.container__card__topSell {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--asparagus);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}
.container__card__img__stock {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--asparagus);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 700;
}
.container__card__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0;
  color: var(  --dark-green);
  width: 100%;

}
.container__card__price {
  font-size: 1rem;
  font-weight: 700;
  margin:0;
}

.container__card__price__price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--asparagus);
}

.container__card__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
}
.container__card__info__price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: right   ;
    width: 40%;
    padding: 0 10px;

}

.container__card__info__button{
    display: flex;

flex: 1;
   
}